html, body, #app {
    height: 100%;
    width: 100%;
    margin: 0;
}

.frame {
    height: 100%;
    width: 100%;
}

.item {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: rgba(133, 58, 255, 0.15);
    border: 2px solid rgba(133, 58, 255, 1);
    box-shadow: inset 0px 5px 40px -5px #17010a;
    animation: spark 5s infinite;
    // animation-timing-function: step-end;
}

.slider {
    width: 400px !important;
    margin: 0 auto;
    z-index: 1000;
}

@keyframes spark {
    0% {
        box-shadow: inset 0px 5px 40px -5px #17010a;
    }
    1% {
        box-shadow: inset 0px 5px 40px -5px #d8d8d8;
    }
    15% {
        box-shadow: inset 0px 5px 40px -5px #17010a;
    }
    100% {
        box-shadow: inset 0px 5px 40px -5px #17010a;
    }
}